<h2>Coaster list</h2>

<table class="table table-light table-striped">
 <thead class="thead-dark">
  <tr>
   <th scope="col">Name</th>
   <th scope="col">Location</th>
   <th scope="col">Typ</th>
   <th scope="col">Design</th>
   <th scope="col">Status</th>
   <th scope="col">Opened</th>
  </tr>
 </thead>
 <tbody>
  <tr *ngFor="let coaster of page.content">
   <td>{{coaster.name}}</td>
   <td><span *ngIf="coaster.location">
    {{coaster.location.name}}
   </span></td>
   <td>{{coaster.typ?.name || "-"}}</td>
   <td>{{coaster.design?.name || "-"}}</td>
   <td>{{coaster.status?.name || "-"}}</td>
   <td>{{coaster.openedDate}}</td>
  </tr>
 </tbody>
</table>

<app-tool-pagination></app-tool-pagination>
