<span class="main_buttons"><button mat-icon-button color="primary" routerLink="/location/add"><mat-icon aria-label="Add new">add</mat-icon></button></span>
<h2>Location list</h2>

<table class="table table-light table-striped">
 <thead class="thead-dark">
  <tr>
   <th scope="col">
     Name
   </th>
   <th scope="col">
    #
   </th>
  </tr>
 </thead>
 <tbody>
  <tr *ngFor="let location of page.content">
   <td>{{location.name}}</td>
   <td>
    <button mat-icon-button color="primary" [routerLink]="['/location/edit/', location.id]"><mat-icon aria-label="Edit">edit</mat-icon></button>
    <button mat-icon-button color="primary" (click)="delete(location.id)"><mat-icon aria-label="Delete">delete</mat-icon></button>
   </td>
  </tr>
 </tbody>
</table>

<app-tool-pagination [totalPages]="page.totalPages" [currentPage]="page.number + 1" (pageChange)="goToPage($event)"></app-tool-pagination>
