<mat-toolbar color="primary">
  <span class="fill-remaining-space">Zug Position</span>
</mat-toolbar>


<div class="container" novalidate>
  <div [className]="ass.isMobileResolution() ? 'container-mobile' : 'container-desktop'">
    <app-zug-pos-list #dasSucheIch [zugPositions]="zugPos" (zugSelected)="displayZugDetails($event)"></app-zug-pos-list>
  </div>
  <div class="container-desktop" *ngIf="!ass.isMobileResolution()">
    <app-zug-pos-detail [zugNummer]="currentZug"></app-zug-pos-detail>
  </div>
</div>
