<mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="coaster" routerLinkActive="active">Coaster</button>
  <button mat-menu-item routerLink="design" routerLinkActive="active">Design</button>
  <button mat-menu-item routerLink="location" routerLinkActive="active">Location</button>
  <button mat-menu-item routerLink="status" routerLinkActive="active">Status</button>
  <button mat-menu-item routerLink="typ" routerLinkActive="active">Typ</button>
  <button mat-menu-item routerLink="lta" routerLinkActive="active">LTA</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>menu</mat-icon>
</button>

<router-outlet></router-outlet>
