<mat-toolbar color="primary">
  <span class="fill-remaining-space" *ngIf="editing">Edit: {{ editing }}</span>
  <span class="fill-remaining-space" *ngIf="!editing">Creating</span>
</mat-toolbar>

<div class="container" novalidate>

  <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
    <input type="text" formControlName="id" class="form-control" hidden="hidden">

    <mat-form-field appearance="fill">
      <mat-label>Enter the name</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="form.controls['name'].invalid">Name is required.</mat-error>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.pristine || form.invalid">Submit</button>
    </div>
  </form>
</div>
